$font-family-sans-serif: "Poppins", sans-serif, !default;

$navbar-header-color: #fff !default;

$headings-font-family: $font-family-sans-serif !default;
$headings-font-weight: 400 !default;
$headings-color: #1abc9c !default;

$body-bg: #eef5f9 !default;

$card-border-radius: 0 !default;
$card-border-color: #c4c8cc !default;

$navbar-height: 70px !default;
$navbar-bg: #272c33 !default;
$navbar-bg-hover: #1abc9c !default;
$navbar-separator: #1abc9c !default;

$calendarEventCategoryColor: #1abc9c !default;
$calendarEventCourseColor: #15997f !default;
$calendarEventGlobalColor: #1eeac2 !default;
$calendarEventGroupColor: #62beac !default;
$calendarEventUserColor: #75aba0 !default;

$m-login-padding: 10px;
$m-login-boxheight: 350px;
$m-card-padding: 1.25rem;
$m-moodle-color: #1abc9c !default;
$m-facebook-color: #1abc9c !default;
$m-twitter-color: #1abc9c !default;
$m-youtube-color: #1abc9c !default;
$m-googleplus-color: #1abc9c !default;
$m-linkedin-color: #1abc9c !default;
$m-instagram-color: #1abc9c !default;

$carousel-control-color: #fff !default;
$carousel-control-prev-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'#fff\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z\'/%3E%3C/svg%3E" !default;
$carousel-control-next-icon-bg: "data:image/svg+xml;charset=utf8,%3Csvg xmlns=\'http://www.w3.org/2000/svg\' fill=\'#fff\' viewBox=\'0 0 8 8\'%3E%3Cpath d=\'M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z\'/%3E%3C/svg%3E" !default;
