.block_theme_selector label#themeselectorselectlabel {
    display: inline; 
    vertical-align: middle;
}
.dir-ltr .block_theme_selector label#themeselectorselectlabel {
    margin-right: 4px;
}
.dir-rtl .block_theme_selector label#themeselectorselectlabel {
    margin-left: 4px;
}
.block_theme_selector .themeselectorselect select {
    margin-bottom: 0;
}
.block_theme_selector .themeselectorreset button {
    margin: 10px 0 0;
}

.block_theme_selector .themeselectorwindow {
    padding-top: 10px;
}

.block_theme_selector .themeselectorwindow input[type='number'] {
    width: 60px;
}

.block_theme_selector .themeselectorwindow span {
    padding: 0 10px;
    vertical-align: super;
}

.block_theme_selector #themeselectorcreatewindow {
    display: block;
}

.dir-ltr .block_theme_selector #themeselectorcreatewindow {
    margin-left: 0;
}

.dir-rtl .block_theme_selector #themeselectorcreatewindow {
    margin-right: 0;
}
